@charset "UTF-8"; 
/* 언택 추가 CSS *//* 언택 추가 CSS *//* 언택 추가 CSS */
/* 언택 추가 CSS *//* 언택 추가 CSS *//* 언택 추가 CSS */ 


/* 사진 */
#choiceimage{
	width:100%;
	height:303px;
}

.home_photo{
width:100px;
height:100px;
margin-top:9px;
}

.cert_photo{
width:100px;
height:100px;
margin-top:9px;
}


/* 라벨 */
.custom_lb{
margin-top:5%;
text-align:center;
width:20%;
height:26px;
border:0px;
border-radius:5px;
color:#ffffff;
font-size:13px;
line-height: 2;
transition: all 350ms ease-in-out;
cursor: pointer;
}

#custom_lb1{
margin-left:10px;
background-color:#53DC98;	
}

#custom_lb2{
background-color:#BEBEBE;	
}	
	
/* .hide{
visibility:hidden;
} */



/* 가능 서비스 */
.service{
text-align:center;
width:360px;	
margin-top: -60px;
}

.serviceList{
font-size:16px;
font-weight:bold;
margin-top:60px;
margin-left:73px;
}

#serviceDiv{
background-color:	honeydew;
height:300px;
}

#service2, #service3, #service4{
margin-top:30px;
}

#check1, #check2, #check3, #check4{
	color:#929292;
}

#check1{
	margin-left:48.5px;
}

#check2{
	margin-left:32px;
}

#check3{
	margin-left:45.5px;
}

#check4{
	margin-left:11px;
}


/* 프로필 */
.top_title{
margin-bottom:5%;
} 
 
.top_text1{
font-size: 23px;
text-align: center;
color: #525252;
font-weight: bold;
width: 820px;
margin-left: 11%;
} 

.imgDiv{
width: 820px;
margin-left: 11%;
display: flex;
}

.profileImg{
width:300px;
height:300px;	
}
 
.introduce{
height:150px;
}


.aa{
	display:flex;
	margin-top:5%;
}

.a1{
width: 300px;
background-color: #53DC98;
margin-left: 11%;
text-align: center;
color: white;
font-weight: bold;
font-size: 16px;
letter-spacing: 4px;
height: 25px;
border-radius: 20px 0px 0px 0px;
}

.a2{
width:520px;
background-color: #53DC98;
text-align: center;
color: white;
font-weight: bold;
font-size: 16px;
letter-spacing: 4px;
height: 25px;
border-radius: 0px 20px 0px 0px;
}

.b1{
background-color: #53DC98;
height: 20px;
width: 820px;
margin-left: 11%;
border-radius: 0px 0px 20px 20px;
color: white;
text-align: center;	
}

.c1{
color: white;
background-color: #53dc98;
width: 380px;
margin-left: -16px;
text-align: center;
font-weight: bold;
border-radius: 20px 20px 0px 0px;	
letter-spacing: 4px;
font-size: 16px;
}

.c2{
width: 395px;
color: white;
background-color: #53dc98;
border-radius: 20px 20px 0px 0px;
font-weight: bold;
text-align: center;	
letter-spacing: 4px;
font-size: 16px;

}


.middle_text{
margin-left:2%;	
}

.middle_text1{
color: #525252;
letter-spacing: 0.5px;
font-weight: 900;
font-size:13px;
margin-left:2%;
}

.middle_text2{
border-radius: 20px 20px 0px 0px;
background-color: #53DC98;
width: 820px;
margin-left: 11%;
font-size: 16px;
letter-spacing: 5px;
}



.middle_div1{
background-color:mintcream;
width:520px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.middle_div3{
text-align: center;
color: white;
font-weight: bold;
font-size: 16px;
letter-spacing: 4px;
height: 25px;
margin-top: 50px;
}

.middle_div4{
display: flex;
flex-direction: column;
background-color: honeydew;
width: 820px;
height:200px;
margin-left: 11%;
}


.one,
.two,
.three,
.four,
.five{
	display: flex;
	width: 400px;
	margin-left: 335px;
}

.one p,
.two p,
.three p,
.four p,
.five p{
	width: 100px;
	margin: 0;
	font-weight:600;
}

.one span,
.two span,
.three span,
.four span,
.five span{
	display: block;
	width: 190px;
	font-weight:600;
}

.span_text0-1,
.span_text1-1, 
.span_text2-1, 
.span_text3-1, 
.span_text4-1{
color: #525252;
font-weight: bold;
font-size:16px;
}


.plus{
width: 40px;
height: 36px;
background-color: #53dc98;
color: white;
border: 0px;
font-weight: bold;
font-size: 13px;
border-radius: 100%;
}

.petcost1{
height: 85px;
}


.p_view{
padding: 30px;
font-weight: bold;	
}

.petN, .bak, .allCost{
font-weight:bold;	
}

#timePicker_start, #timePicker_end{
border: 1px solid lightgray;
}

#datePicker_start, #datePicker_end{
border:1px solid lightgray;	
}

#choicepet{
color:gray;
font-size:13px;
border: 1px solid lightgray;

}

.petOption{
font-weight: bold;
color: darkslategray;
}

.we60, .bang30{
color: #5e5e5e;
font-weight: bold;
font-size: 16px;
}

.bang30{
padding-top:15px;
}




input::placeholder {font-size:13px;}
input:focus {outline:none;}
button:focus {outline:none;}
