@charset "UTF-8";
/* 언택 추가 CSS *//* 언택 추가 CSS *//* 언택 추가 CSS */
/* 언택 추가 CSS *//* 언택 추가 CSS *//* 언택 추가 CSS */ 

/* top_box */
	.top_box {
	margin:10% 0 0 0 ;
	}

	.top_box_text1 {
	font-size:70px;
	color:#53DC98;
	font-weight:bold;
	}

	.top_box_text2 {
	font-size:16px;
	color:rgb(94,94,94);
	font-weight:bold;
	}


/* middle_box */
	.middle_box {
	margin:10% 0 10% 0;
	}
	  
	.div_txt {
	position:relative;
	}
	
	.div_txt2 {
	position:relative;
	} 
		 
	.div_rd {
	position:absolute; bottom:10px;
	}	 
	  
	.span_txt {
	position:absolute; top:0; left:0;
	color:#53DC98;
	font-weight:bold;
	font-size:18px;
	}	  

	.span_txt2 {
	color:#53DC98; 
	font-weight:bold;
	font-size:18px;
	}
	
	.span_txt3{
	color:#53DC98;
	font-weight:bold;
	font-size:18px;
	margin:20% 0 0 0;
	}

	.noimg {
	border-top:1px solid #949494;
	border-right: 1px solid #949494;
	border-bottom: 1px solid #949494;;
	border-left: 1px solid #949494;
	width:19%;
	margin:0 0.4em 0 0;
	}
	 
	.input_txt {
	width:103%;
	height:40px;
	text-align:left;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	/* border-bottom:0.2em solid #5483B1; */
	border-bottom:0.2em solid #949494;
	color:#949494;
	}	  
	  
	.btn_file {
	width:19%;
	margin:0 0.4em 0 0;
	}		  

	.btn_next{
	width:82%; height:40px; margin:0 0 0 14%; 
	background-color:#53DC98; color:#ffffff;
	font-size:20px; font-weight:bold;
	border:0;
	}

	#pet_birth {padding-left:16%;}

	.filebox input[type="file"] {
	position: absolute; 
	width: 1px;
	height: 1px; 
	padding: 0;
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
	}

	.upload {
	width:19%;
	text-align:center;
	border:1px;
	background-color:#949494;
	color:#ffffff;
	}

	.upload2 {
	width:19%;
	text-align:center;
	border:1px;
	background-color:#949494;
	color:#ffffff;
	margin-left:6px;
	}


input::placeholder {text-align:center;}
input[type=text] {padding-left:10%;}

/*인풋 색상 없애기*/

input:focus {outline:none;} 
/*인풋 색상 변경*/
/* input:focus {outline:2px solid #d50000;} */