<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.CommunicationBoardMapper">
	
	<resultMap type="com.spring.petsitter.board.CommunicationBoardVO" id="CommunicationResult">
		<result property="BOARD_NUM" column="BOARD_NUM" />
		<result property="BOARD_WRITER" column="BOARD_WRITER" />
		<result property="MEMBER_ID" column="MEMBER_ID" />
		<result property="PETSITTER_ID" column="PETSITTER_ID" />
		<result property="BOARD_SUBJECT" column="BOARD_SUBJECT" />
		<result property="BOARD_CONTENT" column="BOARD_CONTENT" />
		<result property="BOARD_READCOUNT" column="BOARD_READCOUNT" />
		<result property="BOARD_DATE" column="BOARD_DATE" />
	</resultMap>
	
	<select id="getListCount" parameterType="map" resultType="int">
		select count(*) from communication_board
		where MEMBER_ID=#{MEMBER_ID} and PETSITTER_ID=#{PETSITTER_ID}
	</select>
	
	<select id="getBoardList" parameterType="map" resultMap="CommunicationResult">
		<![CDATA[
		select * 
		from (select rownum as rnum, BOARD_NUM, BOARD_WRITER, MEMBER_ID, PETSITTER_ID, BOARD_SUBJECT, BOARD_CONTENT, BOARD_READCOUNT, BOARD_DATE 
					from communication_board 
					where MEMBER_ID=#{MEMBER_ID} and PETSITTER_ID=#{PETSITTER_ID}
					order by BOARD_NUM desc)
		where rnum >= #{startrow} and rnum <= #{endrow}
		]]>
	</select>
	
	<insert id="boardInsert" parameterType="com.spring.petsitter.board.CommunicationBoardVO">
		<selectKey keyProperty="BOARD_NUM" order="BEFORE" resultType="int">
			select nvl(max(BOARD_NUM), 0)+1 from communication_board
		</selectKey>
		insert into communication_board 
		values(#{BOARD_NUM}, #{BOARD_WRITER}, #{MEMBER_ID}, #{PETSITTER_ID}, #{BOARD_SUBJECT}, #{BOARD_CONTENT}, 0, sysdate)
	</insert>
	
</mapper>